@{
    ViewData["Title"] = "About";
    
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4>Meu nome é @ViewData["Nome"]</h4>
<p>Meu email é  @ViewData["email"]</p>

<address>
    <strong>informações de portfolio:</strong> <a href="http://github.com/otaviorj10">github.com/otaviorj10</a>

</address>



<p>Use this area to provide additional information.</p>

